<div class="card mb-3 shadow">
  <div class="card-body">
    <a class="text-decoration-none" href="/blog/{{id}}">
      <h3 class="card-title">{{title}} <small>3/6/2015</small></h3>
    </a>
    <p class="card-text">{{content}}</p>
    <div class="callout">

      <p>Author: {{author.username}}</p>

    </div>
  </div>
</div>