<div class="card m-3 p-3 comment-card">
    <div class="card-body">
        <div class="card-text">
        <p>{{comment.commenter.username}}</p>
        <p>{{comment.text_content}}</p>
        </div>
    </div>
</div>