<div class="container-flex">
    <form id="blog-post-form" class="blog-form">

        <div class="mb-3">
            <label for="blog-form-title" class="form-label">Blog Title</label>
            <input type="text" class="form-control" id="blog-form-title" aria-describedby="emailHelp">
        </div>   <div class="mb-3">
            <label for="blog-form-author" class="form-label">Author</label>
            <input type="text" class="form-control" id="blog-form-author" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="blog-text-area" class="form-label">Content</label>
             <textarea class="form-control" id="blog-text-area" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>