<div class="card m-3 p-3 shadow">
    <div class="card-body">
        <h3 class="card-title">{{blog.title}}</h3>
        <div class="card-text">
            <p>Author: {{blog.author}}</p>
            <p>{{blog.content}}</p>
        </div>
    </div>
</div>