<div class="container">
    <div class="card">
        <h3 class="card-header">{{blog.title}}</h3>
        <div class="card-body">
            <p>Author: {{blog.author}}</p>
            <p>{{blog.content}}</p>
        </div>
    </div>
</div>