<div class="container-flex">

  <form id="blog-post-form" class="blog-form">

    {{! blog title input }}
    <div class="mb-3">
      <label for="blog-form-title" class="form-label">Blog Title</label>
      <input
        type="text"
        class="form-control"
        id="blog-form-title"
        name="blog-form-title"
        maxlength="100"
        aria-describedby="emailHelp"
      />
    </div>

    {{! blog text content input }}
    <div class="mb-3">
      <label for="blog-text-area" class="form-label">Content</label>
      <textarea
        class="form-control"
        id="blog-text-area"
        name="blog-text-area"
        rows="8"
        maxlength="2000"
      ></textarea>
    </div>

    {{! buttons }}
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/" class="btn btn-danger">Cancel</a>
  </form>

</div>

<script src="./js/blog-form.js"></script>