<div class="card m-3 p-3 shadow form-signin m-auto">

  <div class="card-body">
    <form id="loginForm">
      <div class="mb-3">
        <label for="loginEmail" class="form-label">Email Adress</label>
        <input type="email" class="form-control" id="loginEmail" />
      </div>
      <div class="mb-3">
        <label for="loginPw" class="form-label">Password</label>
        <input type="password" class="form-control" id="loginPw" />
      </div>
      <button type="submit" class="btn btn-primary">Sign In</button>
      <a href="/sign-up" class="ms-3">New User?</a>
      <p class="pt-2" id="error-message" style="color: red;"></p>
    </form>
  </div>

</div>

<script src="./js/login.js"></script>