<div class="card m-3 p-3 shadow form-signin m-auto">
    
  <div class="card-body">
    <form id="signUpForm">
      <div class="mb-3">
        <label for="signUpUserName" class="form-label">UserName</label>
        <input
          type="text"
          class="form-control"
          id="signUpUserName"
          maxlength="20"
        />
      </div>
      <div class="mb-3">
        <label for="signUpEmail" class="form-label">Email Adress</label>
        <input
          type="email"
          class="form-control"
          id="signUpEmail"
          maxlength="33"
        />
      </div>
      <div class="mb-3">
        <label for="signUpPw" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="signUpPw"
          maxlength="20"
        />
      </div>
      <p class="pt-2" id="signup-error-message" style="color: red;"></p>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  </div>

</div>

<script src="./js/new-user.js"></script>