<div class="card m-3 p-3 shadow form-signin m-auto">
    <div class="card-body">
        <form id="signUpForm">
            <div class="mb-3">
                <label for="signUpUserName" class="form-label">UserName</label>
                <input type="email" class="form-control" id="signUpUserName">
            </div>
            <div class="mb-3">
                <label for="signUpEmail" class="form-label">Email Adress</label>
                <input type="email" class="form-control" id="signUpEmail">
            </div>
            <div class="mb-3">
                <label for="signUpPw" class="form-label">Password</label>
                <input type="password" class="form-control" id="signUpPw">
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>

</div>

<script src="./js/new-user.js"></script>